#!/bin/bash

===================================
#install apache
===================================
yum install httpd -y
systemctl enable httpd.service

===================================
#install php
===================================
amazon-linux-extras install php7.4 -y

#===================================
# Download wordpress package and extract
#===================================
wget https://wordpress.org/latest.tar.gz
tar -xzf latest.tar.gz
cp -r wordpress/* /var/www/html/

#===================================
# Create wordpress configuration file 
#===================================
cd /var/www/html
cp wp-config-sample.php wp-config.php

#===================================
# Change OWNER of directory /var/www/html
#===================================
chown -R apache:apache /var/www/html*

#===================================
#update database values in wordpress
#===================================

sed -i "s/database_name_here/${DATABASE_NAME}/g" wp-config.php
sed -i "s/username_here/${DATABASE_USER}/g" wp-config.php
sed -i "s/password_here/${DATABASE_PASSWORD}/g" wp-config.php
sed -i "s/localhost/${DATABASE_HOST}/g" wp-config.php

#===================================
#restart apache
#===================================
service httpd restart




